<form method="post" enctype="multipart/form-data"  class="a">
  <table border="1" align="center" width="50%">
    <tr>
      <p>
        <td>
          <label>UPLOAD IMAGE :</label>
        </td>
        <td>
          <input type="file" name="fileToUpload" accept="image/*"/>
        </td>
      </p>
    </tr>
    <tr>
      <p>
        <td colspan="2">
          <button type="submit" name="submit">Upload IMAGE</button>
        </td>
      </p>
    </tr>
    <tr>
      <p>
        <td colspan="2"></td>
      </p>
    </tr>
  </table>
</form>